.env.local
.env.local.php
.env.*.local

.git
.gitignore
.idea
.vscode

vendor/
node_modules/
var/cache/*
var/log/*
public/uploads/*
public/media/*
public/bundles/*
public/build/*

tests/
phpunit.xml.dist
.phpunit.result.cache

deploy.php
README.md
docker-compose*.yml
Dockerfile
.dockerignore
