**/.DS_Store

# Dépendances
/vendor/
/node_modules/

# Caches & logs Symfony
/var/

# Assets buildés et uploads runtime
/public/bundles/
/public/build/
/public/uploads/
/public/media/

# Env vars locales (les vrais secrets)
/.env
/.env.local
/.env.local.php
/.env.*.local

# IDE
.idea/
.vscode/

# Backups & swap
*.bak
*.swp

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
