{% extends 'base.html.twig' %}

{% block title %}Nouveau Deck{% endblock %}

{% block main %}
    <h1>Créer un nouveau deck</h1>

    {{ include('deck/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_merchant_show', {'id': deck.owner.id}) }}">Retour</a>
{% endblock %}
